
.card{
    display: flex;
    flex-direction: column;
    padding:1rem;
    border-radius: 5px;
    max-width: 28rem;
    margin: 10px;
    /* background-color: red; */
    box-shadow:0 1px 10px 0 rgb(98, 92, 92) ;
       
  }

  .topSection{
    display: flex;
    justify-content: start;
    /* background-color: aqua; */
    align-items: center;
    /* border-radius:50%;  */
    margin-top: .2rem;
  }
  .profileImage{
    border-radius: 50%;
    /* width:fit-content; */
    width:3rem;
    height: 3rem;
    overflow: hidden;
    /* box-shadow: 1px 1px 1px 1px gray; */
  }
  .linkClass{
    text-decoration: none;
  }
  .username{
    margin-left: 0.5rem;
    font-weight: 580;
    font-size: 2rem;
    line-height: 2rem;
    font-family: handWritting;
    color:rgb(57, 52, 52);
    /* background-color: aquamarine; */
  }




  .imageWrapper{
    /* width: fit-content; */
    display: flex;
    /* box-shadow: 1px 1px 1px 1px rgba(186, 184, 184, 0.736); */
    /* background: #000; */
    /* display: flex; */
  }
  
  .image{
     width:100%;
  }
  .imgClass{
    width: 100%;
   }

  .image img{
   overflow: clip;
   overflow-clip-margin: content-box;
  }
  
  .bottomSection{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .icons{

   width:20px ;
   height:20px;
  }
  .statItem{
    margin-right: 0.5rem;
    display:flex;
    align-items: center;
  }
  .likeHover{
    margin-right: 0.5rem;
    display:flex;
    align-items: center;
    cursor:pointer;

  }
  .likeHover:hover{
    color:rgb(207, 59, 59);
  }
  

  .statItem img{
    margin-right: .5rem;
  }
  
  .description{
    padding: 0.5rem;
    /* margin: 0.5rem 0; */
    font-size: 1.5rem;
    /* color: #4b5563; */
    font-family: handwritting;
  }
  
  .daysAgo{
    display: flex;
  }
  
  @media only screen and (max-width: 768px){
   /* .imgClass{ max-height: 380px;} */
  }
  @media only screen and (max-width: 1024px){
    /* .imgClass{max-height: 420px;} */
  }